# History files
.Rhistory
.Rapp.history
.DS_Store

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# folders
data/
figures/
scripts/
CollarExportApp/

# data
.RData
*.csv
*.pdf

# test files
test.R
.Rproj.user
